@import url("https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css");
@import "vazirmatn.scss";
@import "seravek.scss";
@import "style.scss";

body:lang(en) .markdown-body {
  direction: ltr;
  font-family: Severak, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body:lang(fa) .markdown-body {
  direction: rtl;
  font-family: Vazirmatn, Vazir, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.gt-avatar {
  border-radius: 50px;
  margin: 16px;
}